i , .closeBtn{
    cursor: pointer;
}
a{
    cursor: pointer;
}
.mealCard , .catCard , .areaCard , .card{
    cursor: pointer;
}
.overlay{
    background-color: #f9f6f6ca;
    width: 100%;
    transition: 0.5s;
    display: flex;
    align-items: center;
    position: absolute;
    top : 325px;
    bottom: 0;
    right: 0;
    left: 0;
}
.imag{
    overflow: hidden;
}
.imag:hover .overlay{
    top : 0px;
}
.leftSide{
    width: 250px;
}
.rightSide{
    width: 60px
}
.sideBar{
    left : -250px
}
::placeholder{
    color:gray !important;
}
.search{
    display: none;
    height: 100vh;
}
.categories{
    display: none;
}
.area{
    display: none;
}
.ingredients{
    display: none;
}
.contact{
    display: none;
}
.mealDesc{
    text-align: center;
}
.submit{
    margin-inline: auto;
    margin-top: 10px;
    color: #942731;
    border: #942731 1px solid;
    border-radius: 10%;
    padding-inline: 10px;
    padding-block: 5px;
}
.recipes , .tags{
    margin-top: 20px;
    width: 95%;
}
.recipes li , .tags li{
    padding: 5px;
    border-radius: 10px;
}
.recipes li{
    color: #055160;
    background-color: #CFF4FC;
}
.tags li{
    color: #842029;
    background-color: #F8D7DA;
}
